body {
    background-color: rgb(235, 182, 132);
    font-family: Arial, Helvetica, sans-serif;
}


.pizza {
     /*box model*/
     border: 3px solid; color:antiquewhite;
     padding: 1em;
     margin: 1em;
     margin-bottom: 0.5em;
     border-radius: 1em ;
     /*width: 20em;
     display: block;
     min-height:30em ; */
}
.medium_pizza {
    background-color: rgb(182, 114, 30);
    
}
.large_pizza {
    background-color: rgb(211, 174, 94)}
.small_pizza {
    background-color: rgb(173, 96, 60);
}
.contact_details {
    background-color: rgb(219, 186, 36);
}

@media (min-width: 968px) {

    body {
        background-color: aliceblue;
    }
    .pizzas {
        display: flex;
   }
   
}
@media (min-width: 760px) {

    body {
        background-color: rgb(226, 233, 130);
    }
}
